Repository panther-labs/pypanther: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, ruff, mypy

isort:
  name: isort
  entry: poetry run isort
  language: system
  args:
  - --profile
  - black

ruff:
  name: ruff
  entry: poetry run ruff
  language: system
  args:
  - check

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - .
  pass_filenames: false

asdict recursive (#6)
  panther_analysis/base.py
  tests/test_rules.py
Due: isort, ruff, mypy

reorg asana rules with base class
  panther_analysis/helpers/panther_asana_helpers.py
  panther_analysis/rules/asana_rules/asana_base.py
  panther_analysis/rules/asana_rules/asana_service_account_created.py
  panther_analysis/rules/asana_rules/asana_team_privacy_public.py
  panther_analysis/rules/asana_rules/asana_workspace_default_session_duration_never.py
  panther_analysis/rules/asana_rules/asana_workspace_email_domain_added.py
  panther_analysis/rules/asana_rules/asana_workspace_form_link_auth_requirement_disabled.py
  panther_analysis/rules/asana_rules/asana_workspace_guest_invite_permissions_anyone.py
  panther_analysis/rules/asana_rules/asana_workspace_new_admin.py
  panther_analysis/rules/asana_rules/asana_workspace_org_export.py
  panther_analysis/rules/asana_rules/asana_workspace_password_requirements_simple.py
  panther_analysis/rules/asana_rules/asana_workspace_require_app_approvals_disabled.py
  panther_analysis/rules/asana_rules/asana_workspace_saml_optional.py
Due: mypy

black formatting
  panther_analysis/rules/asana_rules/asana_workspace_org_export.py
Due: mypy

isort
  panther_analysis/rules/asana_rules/asana_service_account_created.py
  panther_analysis/rules/asana_rules/asana_team_privacy_public.py
  panther_analysis/rules/asana_rules/asana_workspace_default_session_duration_never.py
  panther_analysis/rules/asana_rules/asana_workspace_email_domain_added.py
  panther_analysis/rules/asana_rules/asana_workspace_form_link_auth_requirement_disabled.py
  panther_analysis/rules/asana_rules/asana_workspace_guest_invite_permissions_anyone.py
  panther_analysis/rules/asana_rules/asana_workspace_new_admin.py
  panther_analysis/rules/asana_rules/asana_workspace_org_export.py
  panther_analysis/rules/asana_rules/asana_workspace_password_requirements_simple.py
  panther_analysis/rules/asana_rules/asana_workspace_require_app_approvals_disabled.py
  panther_analysis/rules/asana_rules/asana_workspace_saml_optional.py
Due: mypy

reorg auth0 rules with base rule
  panther_analysis/helpers/panther_auth0_helpers.py
  panther_analysis/rules/auth0_rules/auth0_base.py
  panther_analysis/rules/auth0_rules/auth0_custom_role_created.py
  panther_analysis/rules/auth0_rules/auth0_integration_installed.py
  panther_analysis/rules/auth0_rules/auth0_mfa_factor_setting_enabled.py
  panther_analysis/rules/auth0_rules/auth0_mfa_policy_disabled.py
  panther_analysis/rules/auth0_rules/auth0_mfa_policy_enabled.py
  panther_analysis/rules/auth0_rules/auth0_mfa_risk_assessment_disabled.py
  panther_analysis/rules/auth0_rules/auth0_mfa_risk_assessment_enabled.py
  panther_analysis/rules/auth0_rules/auth0_post_login_action_flow.py
  panther_analysis/rules/auth0_rules/auth0_user_invitation_created.py
  panther_analysis/rules/auth0_rules/auth0_user_joined_tenant.py
Due: mypy

better var names in alert_context
  panther_analysis/rules/asana_rules/asana_base.py
Due: mypy

better rule ID
  panther_analysis/rules/asana_rules/asana_base.py
Due: mypy

base RuleID matches class.__name__
  panther_analysis/rules/asana_rules/asana_base.py
Due: mypy

better RuleID and vars
  panther_analysis/rules/auth0_rules/auth0_base.py
Due: mypy

drop deprecated rules (#15)
  generate.py
  panther_analysis/get.py
  panther_analysis/rules/aws_cloudtrail_rules/aws_console_login_failed.py
  panther_analysis/rules/aws_cloudtrail_rules/aws_root_console_login.py
  panther_analysis/rules/aws_cloudtrail_rules/aws_root_failed_console_login.py
  panther_analysis/rules/aws_cloudtrail_rules/aws_s3_activity_greynoise.py
  panther_analysis/rules/aws_cloudtrail_rules/aws_snapshot_backup_exfiltration.py
  panther_analysis/rules/box_rules/box_brute_force_login.py
  panther_analysis/rules/cloudflare_rules/cloudflare_firewall_high_volume_events_blocked.py
  panther_analysis/rules/cloudflare_rules/cloudflare_firewall_high_volume_events_blocked_greynoise.py
  panther_analysis/rules/cloudflare_rules/cloudflare_firewall_suspicious_event_greynoise.py
  panther_analysis/rules/cloudflare_rules/cloudflare_httpreq_bot_high_volume_greynoise.py
  panther_analysis/rules/gcp_audit_rules/gcp_iam_admin_role_assigned.py
  panther_analysis/rules/gsuite_activityevent_rules/gsuite_brute_force_login.py
  panther_analysis/rules/gsuite_activityevent_rules/gsuite_permissions_delegated.py
  panther_analysis/rules/notion_rules/notion_page_view_impossible_travel.py
  panther_analysis/rules/okta_rules/okta_brute_force_logins.py
  panther_analysis/rules/okta_rules/okta_geo_improbable_access.py
  panther_analysis/rules/onelogin_rules/onelogin_admin_role_assigned.py
  panther_analysis/rules/onelogin_rules/onelogin_brute_force_by_ip.py
  panther_analysis/rules/onelogin_rules/onelogin_brute_force_by_username.py
  panther_analysis/rules/onelogin_rules/onelogin_unusual_login.py
  panther_analysis/rules/panther_ioc_rules/__init__.py
  panther_analysis/rules/panther_ioc_rules/atlassian_confluence_ip_iocs.py
  panther_analysis/rules/panther_ioc_rules/log4j_exploit_iocs.py
  panther_analysis/rules/panther_ioc_rules/log4j_ip_iocs.py
  panther_analysis/rules/panther_ioc_rules/sunburst_fqdn_iocs.py
  panther_analysis/rules/panther_ioc_rules/sunburst_ip_iocs.py
  panther_analysis/rules/panther_ioc_rules/sunburst_sha256_iocs.py
  panther_analysis/rules/standard_rules/unusual_login_deprecated.py
  panther_analysis/rules/zoom_operation_rules/zoom_operation_user_granted_admin_deprecated.py
Due: isort, ruff, mypy

removed deprecated helpers
  panther_analysis/helpers/panther_iocs.py
  panther_analysis/helpers/panther_oss_helpers.py
  panther_analysis/rules/notion_rules/notion_account_changed_after_login.py
  panther_analysis/rules/notion_rules/notion_login_from_new_location.py
Due: mypy

pypanther upload command to do bulk upload (#17)
  poetry.lock
  pypanther/main.py
  pypanther/upload.py
  pypanther/vendor/__init__.py
  pypanther/vendor/panther_analysis_tool/__init__.py
  pypanther/vendor/panther_analysis_tool/backend/__init__.py
  pypanther/vendor/panther_analysis_tool/backend/client.py
  pypanther/vendor/panther_analysis_tool/backend/errors.py
  pypanther/vendor/panther_analysis_tool/backend/graphql/async_bulk_upload.graphql
  pypanther/vendor/panther_analysis_tool/backend/graphql/async_bulk_upload_status.graphql
  pypanther/vendor/panther_analysis_tool/backend/lambda_client.py
  pypanther/vendor/panther_analysis_tool/backend/public_api_client.py
  pypanther/vendor/panther_analysis_tool/cli_output.py
  pypanther/vendor/panther_analysis_tool/command/standard_args.py
  pypanther/vendor/panther_analysis_tool/constants.py
  pypanther/vendor/panther_analysis_tool/util.py
  pyproject.toml
Due: isort, ruff, mypy

add version bumping utlity (#20)
  .github/workflows/version.yml
Due: none

Updating version
  pyproject.toml
Due: none

fix version
  .github/workflows/version.yml
Due: none

add introspection_query.graphql (#21)
  pypanther/vendor/panther_analysis_tool/backend/graphql/introspection_query.graphql
Due: none

add makefile for publish (#22)
  Makefile
Due: none

py.typed (#23)
  pypanther/py.typed
  pyproject.toml
Due: none

remove lambda client and add config reader (#26)
  .gitignore
  poetry.lock
  pypanther/main.py
  pypanther/vendor/panther_analysis_tool/backend/lambda_client.py
  pypanther/vendor/panther_analysis_tool/command/standard_args.py
  pypanther/vendor/panther_analysis_tool/config.py
  pypanther/vendor/panther_analysis_tool/constants.py
  pypanther/vendor/panther_analysis_tool/util.py
  pyproject.toml
Due: isort, ruff, mypy

remove no-async flag (#27)
  pypanther/main.py
  pypanther/upload.py
Due: isort, ruff, mypy

override fun (#25)
  Makefile
  generate.py
  pypanther/base.py
  pyproject.toml
  tests/test_base.py
Due: isort, ruff, mypy

add version command (#29)
  pypanther/main.py
Due: isort, ruff, mypy

new upload mode of v2_zip sent (#30)
  pypanther/vendor/panther_analysis_tool/backend/public_api_client.py
Due: isort, ruff, mypy

Path conditions:
  isort: any of: \.py$, but not: (^panther_analysis/rules/|^panther_analysis/helpers/|^panther_analysis/data_models/)
  ruff: any of: \.py$, but not: (^panther_analysis/rules/|^panther_analysis/helpers/|^panther_analysis/data_models/)
  mypy: any of: \.py$
